// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 50px;
}

h1 {
  margin-bottom: 20px;
}

li {
  font-size: 28px;
  background: #3398DB;
  width: 40px;
  text-align: center;
  color: white;
  border-radius: 3px;
  font-family: 'Courrier';
  box-shadow: 2px 2px 2px grey;
  font-weight: 400px;
}

p {
  margin-top: 30px;
  font-style: italic;
  margin-bottom: 5px;
}

div {
  margin-bottom: 30px;
}
